/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

.body{
    font-family: 'Merriweather', serif;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  /*background-image: url('../images/values-bg.jpg');*/
  background-size: cover;
  background-color: #000000;
  color: #FFF;
  padding-bottom: 5rem;
}
.value-multiplier {
  font-family: 'Merriweather', serif;
  margin-bottom: .5rem;
  color: #FFF;
}
.value-heading {
  font-family: 'Merriweather', serif;
  margin-bottom: .3rem;
}
.value-description {
  font-family: 'Merriweather', serif;
  opacity: .8;
  font-weight: 300;
}

.myButton{
  /*color: #000;*/

  color:#FF0000;
  background-color: #ffffff;
  border-color: #000000;
  border-width: .2rem;
}
/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  /*background-image: url('../images/values-bg.jpg');*/
  background-size: cover;
  background-color: #000000;
  color: #FFF;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    /*color:#FF0000;*/
    font-weight: 300;
    font-family: 'Merriweather', serif;
    font-size: 2.4rem;
    margin-bottom: .0rem;
  }
  .hero-name {
    font-weight: 700;
    font-family: 'Merriweather', serif;
    font-size: 4.4rem;
    margin-bottom: .2rem;
  }

  .hero-profession {
    font-weight: 400;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
  }
}

span.red{
    color:#FF0000;
}
/* Bigger than 750 */
@media (min-width: 750px) {

  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}